* {    list-style: none;    text-decoration: none;    box-sizing: border-box;    padding: 0;    margin: 0;	}


.input-group {
    width: 100%;
}
.input-group-append {
    margin-left: -1px; /* 버튼과 경계가 겹치지 않도록 조정 */
}

/* 인풋 간 간격 */
label   {    margin-top: 3%;    }